- Drug type: {{ drug_type }}
- Base value: {{ product["BasePrice"] }}
- Market value: {{ product["MarketValue"] }}
- Description: "{{ product["Description"] }}"
- ID: {{ product["ID"] }}
- Stack limit: {{ product["StackLimit"] }}
- Legal status: {{ legal_status }}
- Base addictiveness: {{ product["BaseAddictiveness"] }}
- Effects duration: {{ product["EffectsDuration"] }}